{:duct.profile/base
 {:duct.core/project-ns todo

  :duct.router/ataraxy
  {:routes {"/example" {:get [:todo.handler/example]}
            
            "/todos" {:get [:todo.handler/get-todos]
                      :post [:todo.handler/create-todo]
                      "/stats" {:get [:todo.handler/get-todos-stats]}
                      ["/" id] {:get [:todo.handler/get-todo id]
                                :put [:todo.handler/update-todo id]  
                                :delete [:todo.handler/delete-todo id]}}
            }}

  :todo.handler/example {}
  :todo.handler/get-todos {}
  :todo.handler/get-todos-stats {}
  :todo.handler/get-todo {}
  :todo.handler/create-todo {}
  :todo.handler/update-todo {}
  :todo.handler/delete-todo {}
  }
 
 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}
 ;; SQL モジュールを一時的にコメントアウト
 ;;  :duct.module/sql
 ;;  {}
 }
